.viewAttendanceWrapper {
    background-color: #f0f0f0;
    color: #0873b9;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0,0, 0,30%);
}

.headingAreaviewAttendance {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.singledivofviewAttendance{
    transition: all .5s;
}

.singledivofviewAttendance:hover {
    text-decoration: underline;
}