.sidebarWrapper {
    width: 18vw;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
}

.sidebarimg {
    width: 75%;
    margin-top: 20px;
    /* background-color: red; */
}

.singlesidebardiv {
    margin: 10px auto;
    padding: 10px 10px;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #0873b9;
    font-weight: 500;
    border-radius: 10px;
    font-size: larger;
    width: 98%;
    transition: all .3s;
}

.singlesidebardiv:hover{
    background-color: #6f6f6f;
    color: #fff;
}

.divofsidebardivs {
    margin: 20px auto;
    width: 100%;
}

.txtofsidebar {
    text-align: left;
    width: 50%;
    margin: auto 0;
}

.logoutdiv{
    width: 90%;
    border: none;
    background-color: #0873b9;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    padding: 5px 0;
    margin-top: auto;
    margin-bottom: 30px;
    transition: all .5s; 
}

.logoutdiv:hover{
    background-color: #025c8d;
}